:root {
	--text-primary: #EDF1FF;
	--bd-primary: #0892D0;
	--font-primary: 'Roboto', 'Roboto';
}
.user-post-box {
    height: 1.5em;
    padding: .5em;
}
.user-box{
    border-left: .1rem solid var(--bd-primary);  
    border-right: .1rem solid var(--bd-primary); 
    border-top: .1rem solid var(--bd-primary);
    margin: auto;
    margin-top: 15%;
    width: 27%;
    height: 2.5rem;
}
.photo-box{
    list-style-type: none;
    border-left: .1rem solid var(--bd-primary);  
    border-right: .1rem solid var(--bd-primary);  
    border-top: .1rem solid var(--bd-primary);  
    margin: auto;
    width: 27%;
    height: 35rem;
}
.interaction-box{
    list-style-type: none;
    background-color: var(--bg-primary);
    border: .1rem solid var(--bd-primary);   
    margin: auto;
    width: 25%;
    height: 10rem;
    padding: 1%;
    overflow: hidden;
}
.interaction-box div{
    display: inline-block;
    margin-right: .5rem;
}
#settings{
    padding-right: 35rem;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-primary);
  border: .1rem solid var(--bd-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
}

header li {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;

}
header li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: .8rem 1rem;
}
.search {
    padding: .375em;
    background-color: none;
    color: var(--bd-primary);
    height: 1.5rem;
    margin-top: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    opacity: .6;
}
.search :is(input, button){
    background-color: rgb(245, 245, 245);
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
   
}
.search_input{
    width: 0;
    transition: width .5s;
}
.search_btn{
    background-color: rgb(240, 240, 240);
    place-items: center;
    cursor: pointer;
    
}
.search:hover input {
    padding: .375em;
    width: 15rem;
    height: 1.5rem;
    border-radius: .5rem;
    background-color: rgb(240, 240, 240);
    
}
.search:hover .search_btn{
    opacity: 1;
}
.search:hover {
    opacity: 1;
}
::placeholder {
    color: inherit;
}

.icons{  
    max-width: 100%;  
    height: 1.5rem;
    opacity: .6;
}
#home:hover .icons, #user:hover .icons, #settings:hover .icons{
    opacity: 1;
}

#home::before{
    content: 'Home';
    position: absolute;
    top: 3.5em;
    bottom: 0;
    left: .25em;
    right: .25em;
    transform: scale(0,1);
    transition: transform ease-out 250ms;
    list-style-type: none;
    font-size: .70rem;
    color: var(--bd-primary);
    font-family: var(--font-primary);  
    
}

#home::after{
    content: '';
    position: absolute;
    display: inline-block;
    top: .1em;
    bottom: .1em;
    left: .1em;
    right: .1em;
    transform: scale(1,0);
    transition: transform ease-out 250ms;
}

#home:hover:before{
    transform: scale(1,1);   
}

#home:hover::after {
    transform: scale(1,1);
}

#user::before{
    content: 'User';
    position: absolute;
    top: 3.5em;
    bottom: 0;
    left: .25em;
    right: .25em;
    transform: scale(0,1);
    transition: transform ease-out 250ms;
    list-style-type: none;
    font-size: .70rem;
    color: var(--bd-primary);
    font-family: var(--font-primary);
}

#user:after{
    content: '';
    position: absolute;
    display: inline-block;
    top: .1em;
    bottom: .1em;
    left: .1em;
    right: .1em;
    transform: scale(1,0);
    transition: transform ease-out 250ms;
}

#user:hover:before{
    transform: scale(1,1);    
}

#user:hover::after {
    transform: scale(1,1);
}

#settings::before{
    content: 'Settings';
    position: absolute;
    top: 3.5em;
    bottom: 0;
    left: 0;
    right: 48.25em;
    transform: scale(0,1);
    transition: transform ease-out 250ms;
    list-style-type: none;
    font-size: .70rem;
    color: var(--bd-primary);
    font-family: var(--font-primary);
}

#settings:after{
    content: '';
    position: absolute;
    display: inline-block;
    top: .1em;
    bottom: .1em;
    left: .1em;
    right: .1em;
    transform: scale(1,0);
    transition: transform ease-out 250ms;
}

#settings:hover:before{
    transform: scale(1,1);
}

#settings:hover::after {
    transform: scale(1,1);
}