:root {
	--text-primary: #EDF1FF;
	--bg-primary:  #4884EE; 
	--bg-secondary: #A2C5FE;  /*#ADCCEF;*/
	--bd-primary: #303030;
	--font-primary: 'Roboto', sans-serif;
} 

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303030;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
li {
    float: left;
    position: relative;
}
li::before{
    content: '';
    border:  .1rem  solid var(--text-primary);
    position: absolute;
    display: inline-block;
}
li::after{
    content: '';
    border: .1rem solid var(--text-primary);
    position: absolute;
    display: inline-block;
}
li a {
    display: inline-block;
    text-decoration: none;
    color: #EDF1FF;
    text-align: center;
    padding: .8rem 1rem;
}
li:hover {
    background-color: #111;
}
